body {
  background: linear-gradient(45deg, #808080, #808080),
    linear-gradient(135deg, #808080, #808080),
    linear-gradient(to right, #808080, #808080);
  background-size: 200% 200%;
  animation: gradient 20s linear infinite;
  overflow: auto;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%, 0% 0%, 0% 0%;
  }
  100% {
    background-position: 100% 100%, 50% 50%, 100% 0%;
  }
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  animation: shine 16s ease-in-out infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

h1 {
  color: white;
}
